streamlit
pandas
plotly
numpy
scikit-learn
joblib
tensorflow
matplotlib
wordcloud
spacy
# A linha abaixo é a mais importante e precisa estar EXATA
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0.tar.gz#egg=pt_core_news_sm